.authPage {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.authForm {
    padding: 5px 25px 10px 25px;
    color: #FFBD73;
    border: 1px solid  #FFBD73;
    border-radius: 5px;
    background-color: #024A68;
}

h3, button {
    text-align: center;
    margin: 0 auto;    
}

.valid {
    display: none;
}

.error {
    display: block;
    color: #f36c6c;
    font-size: small;    
}

label {
    font-size: 0.9rem;
    display: block;
    margin-bottom: 0.25rem;
  }

.margtop {
margin-top: 10px;
  }

