.authPage {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.authForm {
    padding: 10px;
    color: #FFBD73;
    border: 1px solid  #FFBD73;
    border-radius: 5px;
    background-color: #024A68;
}

h3, button {
    text-align: center;
    margin: 0 auto;    
}

.valid {
    display: none;
}

.error {
    display: block;
    color: red;
    font-size: small;
    transition: display 1s ease-out 1s;;
}