.card {
    width: 150px;
    margin-right: 15px;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
}
.card:hover {
    box-shadow: 0 0 5px 2px;
    transition: box-shadow 0.2s ease-out;
}


.discount {
    width: fit-content;
    color: rgb(243, 89, 115);
    border-radius: 25%;
    position: relative;
    top: -15px;
    background-color: white;
    padding: 2px;
    font-size: 0.8rem;
}

.totalPrice {
    color: black;
    font-weight: bold;
}

.price {
    color: grey;
    font-size: 0.8rem;
    text-decoration: line-through;
    /* font-weight: normal; */
}

.title {
    color: grey;
    font-size: small;
    display: inline;
}

.creditProd {
    padding: 5px 10px 5px 5px;
    border-radius: 50%;
    background-color: blue;
    width: fit-content;
    
}

.rating {
    color: rgb(250, 32, 104);
    font-size: large;
}

.numOtziv{
    color: grey;
    font-size: small;
}

.creditProd{
    color: black;
    border-radius: 30px;
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(248, 195, 19));
    font-size: small;
    font-weight: 500;
}

.buy {
    width: fit-content;
    margin-top: 10px;
    display: flex;
}

.button {
    padding: 5px 15px;
    border-radius: 5px;
    color: white;
    background-color: rgb(250, 32, 104);
}

.heart {
    color: rgb(250, 32, 104);
    font-size: x-large;
    margin-left: 10px;
    font-weight: 900;
}