body {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 300px;
  background-color: #3ba3d0;
  box-sizing: border-box;
  color: #FFBD73;
  margin: 0;
}

button,
input {
  display: block;
  outline: none;
  padding: 5px;
  color:inherit;
  border: 1px solid #FFBD73;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
}

button:hover,
input:hover,
input:focus {
  box-shadow: 0 0 5px 2px;
  transition: box-shadow 0.2s ease-out;
}

.container {
  padding: 15px;
  border: 1px solid #FFBD73;
  border-radius: 5px;
  background-color: #024A68;
  margin-bottom: 10px;
}