.ep {
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.info {
    padding: 10px;
    border: 1px solid  #FFBD73;
    border-radius: 5px;
    background-color: #024A68;
    text-align: center;

}